.Draw {
    margin: 0 auto;
    padding-block: 20px;
    max-width: 690px;
    height: 761px;
}
.winner_name {
    font-size: 96px;
    font-weight: bold;
    margin-block: 42px;
}
.win_label {
    font-size: 32px;
    font-weight: bold;
    margin-block: 42px;
}
.winner_wrapper {
    margin-block: 150px;
}

.send_gift_response_label {
    font-size: 36px;
    font-weight: normal;
    margin-block: 0px;
}