.gift_name_label{
    font-weight: bold;
    margin-block : 4px;
    font-size: 20px;
}
.gift_file_label{
    font-weight: bold;
    margin-block : 4px;
    font-size: 20px;
} 
.gift_name_error_label{
    margin : 0px;
    font-size: 14px;
    color :#E63535;
}
.gift_file_error_label{
    margin : 0px;
    font-size: 14px;
    color :#E63535; 
}
input{
    margin : 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #818181;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}
input[type="file"] {
    display: none;
}
input:focus {
    outline: none;
    border-width: 2px;
    border-color: rgb(31, 84, 197);
}
.gift_name_input { 
    width : 204px;
    height: 32px;
}
.file_name{
    width: 204px;
    height: 32px;
    color : #919191;
    background-color: #e2e2e2;
}
label {
    margin: 0 auto;
    display: block;
    width: 112px;
    height: 32px;
}
.file_upload_button {
    margin: 0 auto;
    width : 112px;
    font-size: 16px;
    font-weight: bold;
    color : white;
    background-color: #40AFFF;
    border-color: #2a82c2;
    border-radius: 5px;
    padding-block : 6px;
}
.file_upload_button:hover {
    cursor: pointer;
    text-decoration: underline;
}
.file_upload_button:active {
    background-color: #216696;
}
