.form_label.email, .form_label.name{
    font-weight: bold;
    margin-block : 4px;
    font-size: 20px;
}

input[type="text"].name_input { 
    width : 112px;
    height: 32px;
}
input[type="text"].email_input { 
    width : 204px;
    height: 32px;
}